/*style a Resume: Journeyman

For this activity, you'll need to update the rules in `src/style.css` in order to get a resume that looks like the one in `mock_up.pdf`.

Unlike the apprentice level, we'd like you to match a certain result. We've handled alignment for you, so all that remains is to update colors, fonts, borders, etc to match the mock up.

## Fonts
The body and html tag use `'Lato'`, `'Helvetica'`, `'Arial'`, and `sans-serif` by default.

Other elements use `'Rokkitt'`, `'Helvetica'`, `'Arial'`, and `sans-serif`.

## Colors
The following colors are used throughout the document for text and backgrounds:
- `#444444` (slate grey)
- `#181818` (jet black)
- `#cf8a05` (yellow)
- `#f3f3f3` (off white)
- `#dedede` (light grey)

## Borders
- the border that separates the header from the rest of the resume is 2px thick
- borders between each section are 1px thick*/

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
	border: 0;
	font: inherit;
	font-size: 100%;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}

html, body {
	font-size: 16px;
}

.clear {
	clear: both;
}

p {
	color: #444444;
	font-family: lato;
	font-size: 1em;
	line-height: 1.4em;
	margin-bottom: 20px;

}

#cv {
	width: 90%;
	max-width: 800px;
	margin: 30px auto;
}

.mainDetails {
	padding: 25px 35px;
}

#name h1 {
	font-family: rokkitt;
	font-size: 2.5em;
	font-weight: 700;
	margin-bottom: -6px;
}

#name h2 {
	color: #181818;
	font-family: rokkitt; 
	font-size: 2em;
	margin-left: 2px;
}

#mainArea {
	border-top: 2px solid #cf8a05; 
	padding: 0 40px;
}

#headshot {
	width: 12.5%;
	float: left;
	margin-right: 30px;
}

#headshot img {
	width: 100%;
	height: auto;
	border-radius: 50px;
}

#name {
	float: left;
}

#contactDetails {
	font-family: lato;
	color: #444444;
	float: right;
}

#contactDetails ul {
	list-style-type: none;
	font-size: 0.9em;
	margin-top: 2px;
}

#contactDetails ul li {
	margin-bottom: 3px;
}

#contactDetails ul li a, a[href^=tel] {
	text-decoration: none;
}

#contactDetails ul li a:hover {
}

section {
	padding: 20px 0 0;
	border-bottom: 1px solid #f3f3f3;
}

section:first-child {
	border-top: 0;
}

section:last-child {
	padding: 20px 0 10px;
	border: none;

}

.sectionTitle {
	float: left;
	width: 25%;
}

.sectionContent {
	font-family: rokkitt; 
	float: right;
	width: 72.5%;
}

.sectionTitle h1 {
	color: #cf8a05; 
	font-family: rokkitt;
	font-style: italic;
	font-size: 1.5em;
}

.sectionContent h2 {
	font-family: rokkitt;
	font-size: 1.5em;
	margin-bottom: -2px;
}

.subDetails {
	font-size: 0.8em;
	font-style: italic;
	margin-bottom: 3px;
}

.keySkills {
	font-family: lato;
	list-style-type: none;
	column-count: 3;
	margin-bottom: 20px;
	font-size: 1em;
}

.keySkills ul li {
	margin-bottom: 3px;
}